.container {
  position: relative;
  width: 30rem; /* Укажите здесь ширину и высоту вашей картинки */
  height: 30rem;
}
.container_med {
  position: relative;
  width: 23.25rem; /* Укажите здесь ширину и высоту вашей картинки */
  height: 23.25rem;
}
.container_full {
  position: relative;
  width: 26.5rem; /* Укажите здесь ширину и высоту вашей картинки */
  height: 26.5rem;
}

.image-container {
  position: relative;
}
.image-container_full {
  position: relative;
}

.image {
  width: 100%;
  height: auto;
  display: block;
}

.overlay {
  position: absolute;
  top: 8%; /* Отступ сверху */
  left: 8%; /* Отступ слева */
  width: 84%; /* Ширина эффекта */
  height: 84%; /* Высота эффекта */
  background-color: rgba(0, 0, 0, 0.3); /* Светлый темный цвет фона */
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 1;
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.377); /* Размытие заднего фона */
}
.overlay_full {
  position: absolute;
  top: 8%; /* Отступ сверху */
  left: 8%; /* Отступ слева */
  width: 84%; /* Ширина эффекта */
  height: 84%; /* Высота эффекта */
  background-color: rgba(0, 0, 0, 0.3); /* Светлый темный цвет фона */
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s;
  backdrop-filter: blur(2px);
  border: 1px solid rgba(255, 255, 255, 0.377); /* Размытие заднего фона */
}

.image-container_full:hover .overlay_full {
  opacity: 1;
}

.text {
  margin-top: 6.8rem;
  color: white; /* Цвет текста на светлом темном фоне */
  font-size: 2rem;
  letter-spacing: -0.025em; /* Размер текста */
  margin-bottom: 4.875rem;
  white-space: nowrap;
}
.text_med {
  margin-top: 5.4rem;
  color: white; /* Цвет текста на светлом темном фоне */
  font-size: 1.8rem;
  letter-spacing: -0.025em; /* Размер текста */
  margin-bottom: 2.9rem;
  white-space: nowrap;
}
.text_full {
  margin-top: 5.69rem;
  color: white; /* Цвет текста на светлом темном фоне */
  font-size: 1.8rem;
  letter-spacing: -0.025em; /* Размер текста */
  margin-bottom: 3.1rem;
  white-space: nowrap;
}
